// sidebar
// $menuText:#bfcbd9;
$menuText:#000000;
$menuActiveText:#1b1a1a;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951


// #42b983
// $menuBg:#304156;
$menuBg:#42b983;
$menuHover:#ffffff;

$subMenuBg:#85e7bb;
$subMenuHover:#fff;

$sideBarWidth: 180px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
